:root {
  --vanilla: #e4d6a7ff;
  --paynes-gray: #5d737eff;
  --licorice: #1c110aff;
}

#project {
  height: auto;
  overflow: auto;
  background: var(--paynes-gray);
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
}

.projectHeader {
  display: flex;
  font-family: "Playfair", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  justify-content: center;
  color: white;
}

.projectSectionDivider {
  border: 0;
  height: 10px;
  background: white;
  margin: 1rem 0;
}

.projectContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
}

.projectContent {
  position: relative;
  width: 34%;
  aspect-ratio: 1;
  border-radius: 1rem;
  overflow: hidden;
  background: var(--licorice);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.projectContent img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projectContent:hover {
  transform: scale(1.05);
}

.projectPicture {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projectPicture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1;
  border-radius: 1rem;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.projectTitle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000000;
  color: var(--vanilla);
  text-align: center;
  font-size: 1.5rem;
  font-family: "Merriweather", sans-serif;
  padding: 0.5rem;
  z-index: 1;
}

.projectContent:hover .projectPicture img {
  filter: blur(5px);
}

.projectDescription {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  padding: 1rem;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.projectContent:hover .projectDescription {
  opacity: 1;
}

.projectDescription h2 {
  font-family: "Merriweather", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.projectDescription p {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  color: var(--vanilla);
  margin: 0;
}

@media (max-width: 1100px) {
  .projectHeader {
    font-size: 3rem;
  }
  .projectDescription ul {
    font-size: 1.5rem;
  }
  .projectSectionDivider {
    height: 5px;
  }
  .projectDescription h2 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
  }
  .projectContent {
    width: 45%;
    margin-bottom: 2rem;
  }
  .projectContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }
}

@media (max-width: 770px) {
  .projectHeader {
    font-size: 2rem;
  }
  .projectDescription ul {
    font-size: 1rem;
  }
  .projectSectionDivider {
    height: 3px;
  }
  .projectDescription h2 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
  }
  .projectContent {
    width: 50%;
    margin-bottom: 2rem;
  }
}

@media (max-width: 368px) {
  .projectHeader {
    font-size: 1.5rem;
  }

  .projectDescription ul {
    font-size: 0.8rem;
  }

  .projectSectionDivider {
    height: 2px;
  }

  .projectDescription h2 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
  }

  .projectContent {
    width: 100%;
    margin-bottom: 1rem;
  }

  .projectContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .projectDescription p {
    font-size: 1rem;
    padding: 0.5rem;
  }

  .projectTitle {
    font-size: 1rem;
    padding: 0.5rem;
  }

  .projectContent img {
    object-fit: cover;
  }
}
