* {
  margin: 0px;
  padding: 0px;
  background-color: #99e1d9;
}
#home {
  height: 100%;
  width: 100%;
}

nav {
  margin-right: 80px;
  font-family: "Times New Roman";
  display: flex;
  justify-content: flex-end;
}
nav ul {
  display: flex;
  gap: 80px;
}
nav a {
  font-weight: normal;
  text-decoration: none;
}
nav a:active,
nav a:focus,
nav a:visited {
  font-weight: normal;
}
.intro {
  margin-left: 80px;
  margin-right: 80px;
  display: flex;
  justify-content: space-between;
}

.left {
  white-space: nowrap;
  margin-left: 40px;
  align-self: center;
}

.right {
  white-space: nowrap;
  margin-right: 40px;
  align-self: center;
  text-align: center;
}
.picture {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-self: center;
}
