* {
  margin: 0px;
  padding: 0px;
}
header {
  height: 100%;
  width: 100%;
  background-color: #b3fffc;
}

.introContainer {
  margin: 0, auto;
}
nav {
  margin-right: 80px;
  font-family: "Times New Roman";
  display: flex;
  justify-content: flex-end;
}
nav ul {
  display: flex;
  gap: 80px;
}
.intro {
  margin-left: 80px;
  margin-right: 80px;
  display: flex;
  justify-content: space-around;
  background-color: red;
}
.nameText {
  display: flex;
  justify-self: center;
}

.picture {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
}
