@keyframes slideInLeft {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(300px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

:root {
  --licorice: #1c110aff;
  --vanilla: #e4d6a7ff;
  --paynes-gray: #5d737eff;
  --pale-purple: #e5d4edff;
}

* {
  margin: 0px;
  box-sizing: border-box;
}
#home,
nav a,
.intro,
.left p,
.left h1,
.right p {
  color: var(--vanilla);
}
#home {
  height: auto;
  width: 100%;
  background: var(--licorice);
  box-sizing: border-box;
}

nav {
  margin-right: 80px;
  font-family: "Merriweather", sans-serif;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
nav ul {
  display: flex;
  gap: 60px;
  list-style-type: none;
}
nav a {
  font-weight: normal;
  text-decoration: none;
  font-size: 2rem;
  transition: font-size 0.3s ease;
}
nav a:hover {
  font-weight: bold;
  font-size: 2.2rem;
}
nav a:active,
nav a:focus,
nav a:visited {
  font-weight: normal;
}
.intro {
  margin-left: 80px;
  margin-right: 80px;
  display: flex;
  height: auto;
  justify-content: space-between;
}

.left {
  animation: slideInLeft 1.5s;

  white-space: nowrap;
  margin-left: 40px;
  align-self: center;
}

.left h1 {
  font-size: 4rem;
  position: relative;
}

.left h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  width: 100%;
  height: 0.25rem;
  background-color: white;
  opacity: 0;
  animation: fadeIn 1s ease 1.5s forwards;
}

.left p {
  font-size: 1.25rem;
}

.right {
  animation: slideInRight 1.5s;
  white-space: nowrap;
  margin-right: 40px;
  align-self: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}

.picture {
  width: auto;
  height: 600px;
  display: flex;
  margin-bottom: 2%;
  justify-content: center;
  align-self: center;
  animation: fadeIn 2s;
}

.fixedNavBar {
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--licorice);
  padding: 1rem;
  border-radius: 0 0 0 0.5rem;
  z-index: 1000;
}

.fixedNavBar ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style-type: none;
}

.fixedNavBar a {
  color: var(--vanilla);
  text-decoration: none;
  font-size: 1.5rem;
}

.fixedNavBar a:hover {
  font-weight: bold;
}

@media (max-width: 1100px) {
  nav {
    margin-right: 40px;
  }
  nav ul {
    gap: 30px;
  }
  nav a {
    font-size: 1.5rem;
  }
  nav a:hover {
    font-size: 1.7rem;
  }
  .intro {
    margin-left: 40px;
    margin-right: 40px;
    flex-direction: column;
    align-items: center;
  }
  .left {
    margin-left: 0;
    text-align: center;
  }
  .left h1 {
    font-size: 3rem;
  }
  .left p {
    font-size: 1rem;
  }
  .right {
    margin-top: 40px;
    margin-bottom: 70px;
    margin-right: 0;
    font-size: 1.25rem;
    text-align: center;
  }
  .picture {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 800px) {
  nav {
    margin-right: 20px;
  }
  nav ul {
    gap: 20px;
  }
  nav a {
    font-size: 1.25rem;
  }
  nav a:hover {
    font-size: 1.45rem;
  }
  .intro {
    margin-left: 20px;
    margin-right: 20px;
    flex-direction: column;
    align-items: center;
  }
  .left {
    margin-left: 0;
    text-align: center;
  }
  .left h1 {
    font-size: 2.5rem;
  }
  .left p {
    font-size: 0.875rem;
  }
  .right {
    margin-top: 20px;
    margin-right: 0;
    font-size: 0.8rem;
    text-align: center;
  }
  .picture {
    display: none;
  }
}

@media (max-width: 400px) {
  nav {
    margin-right: 10px;
  }
  nav ul {
    gap: 10px;
  }
  nav a {
    font-size: 0.4rem;
  }
  nav a:hover {
    font-size: 1.2rem;
  }

  .fixedNavBar {
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--licorice);
    justify-content: center;
    border-radius: 0 0 0 0.5rem;
    z-index: 1000;
  }

  .fixedNavBar ul {
    display: flex;
    flex-direction: column;

    gap: 0rem;
    list-style-type: none;
  }

  .fixedNavBar a {
    color: var(--vanilla);
    text-decoration: none;
    font-size: 0.5rem;
  }

  .fixedNavBar a:hover {
    font-weight: bold;
  }

  .intro {
    margin-left: 10px;
    margin-right: 10px;
    flex-direction: column;
    align-items: center;
  }
  .left {
    margin-left: 0;
    margin-bottom: 20px;
    text-align: center;
  }
  .left h1 {
    font-size: 2rem;
  }
  .left p {
    font-size: 0.75rem;
  }
  .right {
    margin-top: 10px;
    margin-right: 0;
    font-size: 0.7rem;
    text-align: center;
  }
  .picture {
    display: none;
  }
}
