:root {
  --licorice: #1c110aff;
  --vanilla: #e4d6a7ff;
  --paynes-gray: #5d737eff;
  --pale-purple: #e5d4edff;
}

#about {
  display: flex;
  flex-direction: column;
  background: var(--vanilla);
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
  color: var(--licorice);
}

.aboutHeader {
  display: flex;
  font-size: 4rem;
  font-weight: 700;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  justify-content: flex-start;
  font-family: "Playfair", sans-serif;
  color: var(--licorice);
}

.aboutSectionDivider {
  border: 0;
  height: 10px;
  background: var(--licorice);
  margin: 1rem 0;
}

.aboutContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.aboutDescription {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: justify;
  font-size: 1.5rem;
  margin-bottom: 5%;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  width: 50%;
}

.aboutDescription p {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--licorice);
}

.aboutImages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.imageRow {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.aboutImage {
  width: 280px;
  height: 280px;
  margin-right: 10px;
}

.aboutImages img {
  width: 100%;
  height: auto;
  max-width: 280px;
  border-radius: 0.5rem;
}

.aboutSkills {
  margin-bottom: 0.9rem;
  background-color: var(--vanilla);
  padding: 1rem;
  border-radius: 0.5rem;
}

.aboutSkills ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style-type: none;
  padding: 0;
  max-width: 80%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.aboutSkills h2 {
  display: flex;
  justify-content: flex-start;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-family: "Merriweather", sans-serif;
  font-size: 2rem;
  position: relative;
}

.aboutSkills h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  width: 100%;
  height: 0.25rem;
  background-color: black;
}

.aboutSkills h2,
.aboutExperience h2 {
  color: var(--licorice);
  text-align: center;
}

.aboutExperience {
  margin-top: 0.5rem;
  background-color: var(--pale-purple);
  padding: 1rem;
  border-radius: 0.5rem;
}

.aboutExperience h2 {
  font-family: "Merriweather", sans-serif;
  font-size: 2rem;
  text-align: left;
}

.languageLogos {
  margin-bottom: 2rem;
}

.aboutSkills li {
  position: relative;
}

.aboutSkills li img {
  width: 80px;
  height: 80px;
  transition: transform 0.3s ease;
  border: 2px solid var(--licorice);
  border-radius: 0.3rem;
}

.aboutSkills li:hover img {
  transform: scale(1.5);
}

.aboutSkills li:hover::after {
  content: attr(data-title);
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
  font-size: 0.8rem;
  white-space: nowrap;
  margin-top: 0.5rem;
  z-index: 1;
}

.experienceItem {
  display: flex;
  align-items: center;
  padding: 2rem;
  transition: border 0s ease, background-color 0.3s ease, transform 0.3s ease;
}

.experienceItem:hover {
  border: 2px solid var(--licorice);
  border-radius: 0.5rem;
  background-color: var(--pale-purple);
  transform: scale(1.05);
}

.experienceLogo {
  width: 100px;
  height: 100px;
  margin-right: 2rem;
}

.experienceDescription {
  color: var(--licorice);
  font-size: 1.25rem;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 1285px) {
  .aboutHeader {
    font-size: 3rem;
  }

  .aboutSectionDivider {
    height: 5px;
  }

  .aboutContent {
    flex-direction: column;
    align-items: flex-start;
  }

  .aboutDescription,
  .aboutImages {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .aboutDescription p {
    font-size: 1.1rem;
  }

  .aboutSkills h2,
  .aboutExperience h2 {
    font-size: 2rem;
  }

  .experienceDescription p {
    font-size: 1rem;
    text-align: justify;
  }

  .aboutImage {
    height: auto;
  }

  .aboutSkills ul {
    gap: 1rem;
    justify-content: center;
  }

  .aboutSkills li {
    width: 80px;
    height: 80px;
    margin-bottom: 1rem;
  }

  .aboutSkills li img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .aboutSkills li:hover img {
    transform: scale(1.2);
  }
}

@media (max-width: 770px) {
  .aboutSectionDivider {
    height: 3px;
  }

  .aboutHeader {
    font-size: 2rem;
  }

  .aboutDescription p {
    font-size: 1rem;
  }

  .aboutSkills h2 {
    font-size: 1.5rem;
  }

  .aboutExperience h2 {
    font-size: 1.5rem;
  }

  .aboutExperience strong {
    font-size: 0.9rem;
  }

  .experienceDescription p {
    font-size: 0.7rem;
    text-align: left;
  }

  .aboutImage {
    width: 150px;
    height: 150px;
    margin-right: 10px;
  }

  .aboutImages img {
    width: 100%;
    height: auto;
    max-width: 150px;
    border-radius: 0.5rem;
  }

  .aboutSkills ul {
    gap: 0.8rem;
  }

  .aboutSkills li {
    width: 60px;
    height: 60px;
    margin-bottom: 0.8rem;
  }

  .aboutSkills li img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 530px) {
  .experienceItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-bottom: 1rem;
    text-align: center;
  }

  .experienceLogo {
    width: 100px;
    height: 100px;
    margin-bottom: 1rem;
    transition: transform 0.3s ease;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .experienceLogo:hover {
    transform: scale(1.1);
  }

  .experienceDescription {
    display: block;
    text-align: center;
    font-size: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;
    background-color: var(--vanilla);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
  }
}

@media (max-width: 368px) {
  .aboutHeader {
    font-size: 1.2rem;
  }

  .aboutDescription p {
    font-size: 0.6rem;
  }

  .aboutSkills h2 {
    font-size: 1rem;
  }

  .aboutSkills li {
    width: 35px;
    height: 35px;
    margin-bottom: 0.5rem;
  }

  .aboutExperience h2::after {
    content: "Click Image To Read More";
    display: block;
    color: var(--licorice);
    background-color: var(--vanilla);
    border-radius: 10%;
    font-size: 1rem;
    text-align: center;
    margin: 0.5rem 0;
  }

  .aboutExperience {
    margin: 0.2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .aboutImages img {
    width: 100%;
    height: auto;
    max-width: 60px;
  }

  .experienceItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: auto;
    margin-bottom: 0.2rem;
    width: 100%;
    text-align: center;
  }

  .experienceLogo {
    width: 100%;
    height: auto;
    max-width: 150px;
    border-radius: 0.5rem;
    transition: transform 0.3s ease, filter 0.3s ease;
    cursor: pointer;
    position: relative;
    margin: 0;
  }

  .experienceLogo:hover {
    transform: scale(1.1);
    filter: blur(4px);
  }

  .experienceDescription {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.5rem;
    box-sizing: border-box;
    background-color: black;
    color: var(--vanilla);
    border-radius: 0.8rem;
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .experienceDescription strong {
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
  }

  .experienceDescription p {
    font-size: 0.4rem;
  }

  .experienceItem:hover .experienceDescription {
    opacity: 1;
    transform: scale(1);
  }
}
